* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Oswald', sans-serif;
    background-color:white;

}

.cadastro {
    position:relative;
}

.cabecalho {
    display: absolute;
    background-color: white;
    border-bottom: solid 5px #fafafa; /* largura de borda inferior*/
    height: 85px;
    box-sizing: content-box;

}

.logo {
   display: inline-block; 
   height: 80px;
   padding: 15px;
   
}

.logo img {
    height: 100%;
}

.menu-toggle {
    float:right;
    color: gray;
    background-color:white;
    border: solid 1px white;
    border-radius: 5px;
    height: 40px;
    padding: 10px 20px;
    margin: 20px 15px;
    font-size: 14px;
    line-height: 16px;            
    overflow-x: hidden;
    overflow-y: hidden;
    height: 30px;
}
.menu {
    display: inline-block;
    vertical-align: top;
    height: 80px;
    padding: 13px;
    
}

.menu li {
    display: inline-block;
    
}

.cabecalho a {
    text-decoration: none;
    color: aliceblue;
    font-size: 1.3em;        
    
}

.menu a {
    padding: 15px;
    color: gray;
}

.autenticacao {
    float: right;
    height: 80px;
    padding: 25px;
    color: rgb(24, 97, 191);

}

.menu a:hover {
    background-color: #bcbebf; 
    color:  rgb(100, 99, 100);
    
}

.botao {
    border-radius: 30px;
    padding: 10px 25px;
    margin: 10px;
    color: rgb(24, 97, 191);
}

.destaque {
    color: rgb(24, 97, 191);
    
}
.termo{
    
    color: white;
    border-bottom-color: rgb(80, 88, 99);
    border-image-repeat: stretch;
    border-image-slice: 100%;
    text-align: center;
    line-height: 24px;
    vertical-align: baseline;
    font-style: normal;
    font-family: sans-serif ;
    padding: 0px;
    
}
/*/html/exercicios/glassdoor.jpg"*/
.bg {
    
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("glassdoor.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}

.encontre {
    display: flex;
    position: relative;
    color: rgb(255, 255, 255);
    font-family: 'Lato', sans-serif;
    font-feature-settings: "liga" 0, "clig" 0;
    font-size: 2em;
    font-stretch: 100%;
    font-variant-ligatures: no-common-ligatures;
    font-weight: 700;
    height: 20px;
    line-height: 27px;
    justify-content: center;
    margin-top: 110px;
    text-size-adjust: 100%;
    letter-spacing: 0.8px;
} 

.p {
    padding: 0;
}
.sublinhado {
    text-decoration: underline white dotted;
}
/*====================================================== ************************************************** =========================================================********** */ 

.redesSociais a { /* Aqui está o estilo dos botões do face e do GOOGLE LEMBRAR DA ESPECIFICAÇÃO LETRA VERMELHA DO GOOGLE*/ 
    text-decoration: none;
    color: white;
}

.container .redesSociais {
    display: flex;
    padding: 7px;
    border-radius: 6px;
    /* font-size: 18px; */
    width: 100%;
    cursor: pointer;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: sans-serif;
    
    
}
.container .redesSociais .facebook {
    display: flex;
    position: flex; /*impecilho */ 
    background: rgb(45, 116, 216);
    /*background: linear-gradient(to right, #56a7f2, #468aca);*/
    color: white;
    width: 460px;
    letter-spacing: 0.5px;
    text-align: justify;
    font-size: 16px;
    font-weight: 600;
    padding: 12px;
    border-radius: 3px;
    height: 39px; /* 16/10/2021  as 22:40*/ 

}
.ContinuarFacebook { /* Estilo para centralizar (*) */  
    display: flex;
    position: flex;
    padding: 0;
    padding-left: 95px;
    margin-top: -21px;
    margin-left: 21px;
    text-align: center;
    justify-content: center;
    align-items: center;

}
.fab { /* Arrumar tamanhos */ 
    display: inline-block;
    font-size: 20px;
    position: flex;
    padding: 0px;
    
}

/* -------------------- Google -------------------------------------------*/
.redesSociaisGoogle a { /* Aqui está o estilo dos botões do face e do GOOGLE LEMBRAR DA ESPECIFICAÇÃO LETRA VERMELHA DO GOOGLE*/ 
    text-decoration: none;
    color: red;
}
.container .redesSociaisGoogle {
    display: flex;
    padding: 7px;
    border-radius: 6px;
    /* font-size: 18px; */
    width: 100%;
    cursor: pointer;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    color:red;
    font-family: sans-serif;
    
}
.container .redesSociaisGoogle .google {
    display: flex;
    position: flex; /*impecilho */ 
    background: rgb(255, 255, 255);
    /*background: linear-gradient(to right, #56a7f2, #468aca);*/
    color: rgb(235, 10, 10);
    width: 460px;
    letter-spacing: 0.5px;
    text-align: justify;
    font-size: 16px;
    font-weight: 600;
    padding: 9px;
    border-radius: 3px;
    height: 39px; /* 16/10/2021  as 22:40*/ 

}

.ContinuarGoogle{ /* Estilo para centralizar (*) */  
    display: flex;
    position: flex;
    padding: 0;
    padding-left: 95px;
    margin-top: -21px;
    margin-left: 21px;
    text-align: center;
    justify-content: center;
    align-items: center;

}

.g {
    margin-top: 1px;
    margin-bottom: 2.8px;
}
/* -------------------------- F O R M U L Á R I O S -----------------------------------------*/
.second-column{
    position: flex;
    display: flex;
}

.form {
    position: flex;
    display: flex;
    flex-direction:column;
    padding: 12px;
    
}
.btn {
    display: flex;
    position: flex;
    background-color: rgb(24, 97, 191);
    cursor: pointer;
    font-family: sans-serif;
    border: 1px solid transparent;
    border-radius: 4px;
    display: flex;
    user-select: none;
    vertical-align: middle;
    font-weight: bold;
    
    font-size: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 88px;
    line-height: 1.6;
    color: #ffffff;
    padding: 7px 12px 7px 12px;
    width: 160px;

}
.btn2 {
    display: flex;
    position: flex;
    background-color: rgb(33, 128, 5);
    cursor: pointer;
    font-family: sans-serif;
    border: 1px solid transparent;
    border-radius: 4px;
    display: flex;
    user-select: none;
    vertical-align: middle;
    font-weight: bold;
    
    font-size: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 88px;
    line-height: 1.6;
    color: #ffffff;
    padding: 7px 12px 7px 12px;
    width: 160px;

}
.btn3 {
    display: flex;
    position: flex;
    background-color: rgb(138, 34, 8);
    cursor: pointer;
    font-family: sans-serif;
    border: 1px solid transparent;
    border-radius: 4px;
    display: flex;
    user-select: none;
    vertical-align: middle;
    font-weight: bold;
    
    font-size: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 88px;
    line-height: 1.6;
    color: #ffffff;
    padding: 7px 12px 7px 12px;
    width: 160px;

}
.block_busca{
    display: block;
}
.entrarSenha {
    color: rgb(80, 88, 99);
    position: flex;
    display: flex;
    justify-content: center;
    justify-self: center;
    width: 459px;
    padding: 1px;
    margin-bottom: 10px;
    border: rgb(80, 88, 99);
    border-image-repeat: stretch;
    cursor: pointer;
    font-family: sans-serif;
    border: 2px solid gray;
    border-radius: 5px;
    height: 39px;
    margin-left: 440px;
    
}

.criarContaEmail {
    color: rgb(80, 88, 99);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 459px;
    padding: 1px;
    margin-bottom: 5px;
    border: 0px solid gray;
    border-image-repeat: stretch;
    cursor: pointer;
    font-family: sans-serif;
    border: 2px solid gray;
    align-items: center;
    height: 39px;
    border-radius: 1px;
    margin-left: 440px;
}

.botaoEntrar {
    display: flex;
    
    justify-content: center;
    justify-items: center;
    align-content: center;
    right: 50%;
    margin-left: 588px;
    
}

/*-------  Finalizando MENU -------------*/
.entrar {
    font-size: 18px;
    padding-bottom: 4px;
    padding-top: 13px;
    font:bolder;
    cursor: pointer;
    color: rgb(24, 97, 191);
}
.loginEntrar {
color: rgb(24, 97, 191);
}
.paraEmpresas {
   color: gray;
}
.SecondContainer {
   display: flex;
   position: flex;
   
}
.statusLogin{
   
   
   color: white;
   margin: 2px;
   padding: 3px;
   margin-left: 440px;

}

.buscaEmprego{
   padding-top: 0; 
   color:#05661c;
   background-color: white;
   background-image: none;
   padding-bottom: 0px;
   margin-bottom: 0;
   margin-top: 0px;
   left: 450px;
   /*margin-left: 455px;*/
   width: 1350px;
   

}
.caixaDeBusca {
align-self: center;
justify-content: center;
align-content: center;
width: max-content;
}

.h2 {
   color: black;
   background-color: white;
   padding-bottom: 0;
   margin-bottom: 0;
   
}

div.cjsearchbox{

text-align:left ;
align-items: center; 
border: 1px solid #669966; 
background-color: #FFFFFF ;
padding: 8px ; 
font-family: Arial, sans-serif, Sans-serif ; 
font-size: 13px ; 
color: #751b1b; 
width: 1350px;
}

div.cjsearchbox a{ 
color: #198ADC ; 
}

div.cjbotl a{
color: #198ADC;
}


div.cjsearchbox form.cjsearchform{ 
padding-top: 0px ; 
padding-bottom: 0px ; 
padding-left: 0px ; 
padding-right: 0px ;
}


div#cjSearchResult p.topline{ 
font-size: 16px ; 
font-weight: bold ; 
margin-bottom: 8px ; 
margin-top: 5px ;
}

span.cjlabel{ 
font-size: 13px ; 
font-weight: bold ; 
color: #000000; 
}
.principalBusca{
display: none;
}
span.cjlabelsmall{ 
font-size: 11px ; 
color: #000000; 
}

input.cjinput{ 
width: 90%; 
padding: 3px 0px;
border: 1px solid #AAA;
border-right: 1px solid #DDD;
border-bottom: 1px solid #DDD;
margin-top:2px;
margin-bottom:2px;
}

input.cjbutton{  
font-family:  Arial, sans-serif, Sans-serif; 
}

div.cjjob{ 
margin: 0px ; 
margin-bottom: 10px ; 
overflow: hidden ;
}

div.cjjob p { 
margin: 0px ; 
}

div.cjjob p.jobtitle{ 
font-size: 14 ; 
font-weight: bold ;
}

div.cjjob .company{ 
color: #666666; 
}

div.cjjob .locations{ 
color: #666666;
}

div.cjjob .site{ 
color: #099E2D ; 
}

#search_box_tools span.button{
float:left;
color:#666;
margin-left:5px;
margin-right:5px;
}

#search_box_tools span.button input{
float:left ;
color:#FFFFFF;
padding: 1px 10px;
font-weight: bold;
cursor: pointer;
border: 1px solid #d70;
-webkit-border-radius: 2px;
-moz-border-radius: 3px;
border-radius: 2px;
background: #e81;
background-image: linear-gradient(top, #F19F40 0%, #EE8711 100%);
background-image: -o-linear-gradient(top, #F19F40 0%, #EE8711 100%);
background-image: -moz-linear-gradient(top, #F19F40 0%, #EE8711 100%);
background-image: -webkit-linear-gradient(top, #F19F40 0%, #EE8711 100%);
background-image: -ms-linear-gradient(top, #F19F40 0%, #EE8711 100%);
background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #F19F40),color-stop(1, #EE8711));
}

.buscaEmprego {
    font-style: italic;
}

li {
    color: rgb(0, 0, 0);
    font-size: larger;
    padding: 0%;
    margin: 0;
    background-color: white;
    margin: 0;
}

ul {
    margin-bottom: 0;
    background-color: white;
}

.buscaTv {
    background-color: white;
    display: none;
    height: 300px;
}
.inputBusca{
    margin: 0;
    padding: 0;
    height: max-content;
    
}
@media (min-width: 981px){
    .menu-toggle{ 
        display: none;
        float: right;
        margin-left: 28px;
        margin-right: 28px;
    }
    .entrar {
        display: none;
    }
}



@media (max-width:1014px){
    .autenticacao {
        display: none;
    }
    
}


@media (max-width: 980px) {
    
    .termo {
        color: gray;
    }
    .sublinhado{
        color: rgb(1, 1, 135);
    }
    .cadastro {
        margin-top: 155px;
    }
    .g {
        border: rgb(80, 88, 99);
        
    }
    .entrarSenha {
        border: rgb(80, 88, 99);
        border: 1px solid gray;
        margin-left: 9px;
    }
    .criarContaEmail {
        border: rgb(80, 88, 99);
        border: 1px solid gray;
        margin-left: 9px;
        margin-top: 0px;
    }
    .google {
        border: rgb(80, 88, 99);
        border: 1px solid gray;
        margin-top: 2px;
        padding-bottom: 2px;
        
    }
    .botaoEntrar {
        margin-left: 158px;
    }
    .menu { 
        display: none;

    }
    .logo {
        display:flex;
        justify-content: center;
        clear: both;
        height: 80px;
        
    }
    .largura {
        box-sizing: 700px;
    }
    .entrar{
        margin-left: 5px;
        padding-left: 4px;
        display: inline-block;
        position:absolute;
        justify-content: left;
        margin-right: 3%;
        margin-left: 6px;
        padding-left: 10px;
        padding-top: 17px;
        
    }
    .menu-toggle {
        position: absolute;
        top: 0;
        right: 0;
        margin-top: 28px;
    }
    .encontre{
        font-size: 25px;
        margin-top: 96px;
        font-size: 19px;
    }
    
}
@media (max-width: 980px) {
    .bg{
        height: 350px;
        background-attachment:scroll;
        object-fit: cover;
    }
}
/* Icones da Web*/
/*<i class="fab fa-facebook"></i>*/
/*<i class="fab fa-google"></i>*/
