<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SearchMovie</title>
</head>
<body>
    <h2> TV Search</h2>
    <input type="text" id="searchFields" placeholder="Insira o título do Filme">
    <ul id="resultsList">

    </ul>
    <a href='https://www.glassdoor.com.br/index.htm'>powered by <img src='https://www.glassdoor.com/static/img/api/glassdoor_logo_80.png' title='Job Search' /></a>
    <script>
        function buscaDeFilmes(query){
            const url = `https://api.tvmaze.com/search/shows?q=${query}`
            fetch(url)
                .then(response => response.json())                 
                .then((jsonData) => {
                    const results = jsonData.map(element => element.show.name);
                    renderResults(results);
             })
            
        }

        function renderResults(results) { 
            const list = document.getElementById("resultsList");
            list.innerHTML = "";
            results.forEach(result => {
                const element = document.createElement("li");
                element.innerText = result;
                list.appendChild(element); 
            });
        }

        window.onload = () => {
            const searchFieldElement =document.getElementById("searchFields");
            searchFieldElement.onkeyup = (event) => {
                buscaDeFilmes(searchFieldElement.value);
            }
        }

    </script>
</body>
</html>
